
<p-toolbar>
  <div class="p-toolbar-group-start">
      <p-button label="buscar" icon="pi pi-search" styleClass="p-button-success" (click)="buscar()"></p-button>
  </div>
  <div class="p-toolbar-group-end">
      
      <p-button icon="pi pi-upload" styleClass="p-button-danger"></p-button>
  </div>
</p-toolbar>


<div class="flex pt-5">
    <div class="flex-1 h-4rem bg-primary font-bold text-center p-4 border-round">habanero {{habanero}}/{{total}}</div>
    <div class="flex-1 h-4rem bg-secondary font-bold text-center p-4 border-round mx-4">arbol {{arbol}}/{{total}}</div>
    <div class="flex-1 h-4rem bg-success font-bold text-center p-4 border-round mx-4">ajonjoli {{ajonjoli}}/{{total}}</div>
    <div class="flex-1 h-4rem bg-warning font-bold text-center p-4 border-round mx-4">cacahuate {{cacahuate}}/{{total}}</div>
    <div class="flex-1 h-4rem bg-danger font-bold text-center p-4 border-round mx-4">arandano {{arandano}}/{{total}}</div>
    <div class="flex-1 h-4rem bg-primary font-bold text-center p-4 border-round">total: {{total}}</div>
</div>


<div class="formgrid grid mt-5 mb-5">
  <div class="field col">
      <label for="firstname2" class="newFont">Nombre</label>
      <input [(ngModel)]="nombre" id="nombre" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">

    </div>

  <div class="field col">
      <label for="precio" class="newFont">Precio</label>
      <input [(ngModel)]="precio" id="precio" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
  </div>

  <div class="field col" class="newFont">
    <label for="fecha">fecha</label>
    <input [(ngModel)]="fecha" id="fecha" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
</div>

</div>

<div class="container mb-5">
  <div class="card">
      <p-table [value]="products" (sortFunction)="customSort($event)" [customSort]="true" [tableStyle]="{'min-width': '60rem'}">
          <ng-template pTemplate="header">
              <tr>
                  <th pSortableColumn="id" style="width:20%">id <p-sortIcon field="id"></p-sortIcon></th>
                  <th pSortableColumn="nombre" style="width:20%">nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                  <th pSortableColumn="precio" style="width:20%">precio <p-sortIcon field="precio"></p-sortIcon></th>
                  <th pSortableColumn="fecha" style="width:20%">fecha <p-sortIcon field="fecha"></p-sortIcon></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
              <tr>
                  <td>{{product.id}}</td>
                  <td>{{product.nombre}}</td>
                  <td>{{product.precio}}</td>
                  <td>{{product.fecha}}</td>
              </tr>
          </ng-template>
      </p-table>
  </div>
</div>



<div class="card">
  <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
</div>



